@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

button {
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(38, 38, 178);
    background-color: #03643d1e;
    height: 60px;
    width: 170px;
    font-size: 30px;
    border:none;
    border-radius:30px;
    box-shadow: #4A4539;
}
.myButton{
 display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

p {
    font-family: "Pixelify Sans", sans-serif;
    color: #da3822;
    font-weight: bold;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

body {
    background-color: #B9DCCE;
}

#myCanvas {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: 30px;

}


.ScoreBoard {
    color: #4A4539;
    display: block;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 1%;
    margin-left: 20%;
    font-family: "Pixelify Sans", sans-serif;
}

.ScoreBoard img {
    width: 30px;
    height: auto;
}
